.book-container {
    background-color: #fff;
    display: flex;
    margin: 50px 200px;
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.book-container img {
    width: 300px;
    border-radius: 15px 0 0 15px;
}

.book-info {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.details h1{
    text-align: center;
}

.heading {
    text-align: center;
    margin-top: 40px;
}