.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    text-align: center;
}

.container h1 {
    font-size: 65px;
}

.container h2 {
    font-size: 50px;
    color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
}

.container p {
    color: var(--primary-color);
    font-size: 15px;
    font-style: italic;
}