body {
    font-family: Arial, sans-serif;
    background: #e2ccb0 url('background-effect.png') repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
}

:root {
    --primary-color: #781054;
    --secondary-color: #a83388;
    --button-hover: #b855a5;
}


a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cc7a7f;
    padding: 22px 20px;
    color: #fff;
}

nav {
    display: flex;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

nav a {
    margin: 0 10px;
    font-size: 18px;
    color: #fff;
}

nav p {
    margin: 0 10px;
    font-size: 18px;
    color: var(--primary-color);
    font-weight: bold;
}

main {
    padding: 30px 40px;
}

h1 {
    color: var(--primary-color);
}

.btn {
    background-color: (var(--secondary-color));
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    /* margin-top: 40px; */
}

.btn:hover {
    background-color: (var(--button-hover));
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #c56c80;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.logout {
    background: none;
    border: 0;
    color: #fff;
    font-size: 17.2px;
    cursor: pointer;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Footer */

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 46px;
    margin-bottom: 42px;
}

.footerContainer p {
    font-family: "Noto Sans TC", sans-serif;
    margin-top: 42px;
}