.allBooks {
    margin: 61px 34px;
}

.catalog {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px 65px;
}

.bookItem {
    display: flex;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    align-items: center;
}

.bookItem img {
    width: 119px;
    height: 180px;
    object-fit: cover;
    margin-right: 15px;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bookInfo h2 {
    color: var(--secondary-color);
    margin: 0;
}

.bookInfo p {
    color: #555;
    margin: 0;
}

.btn {
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    margin-top: 40px;
    border: none;
    text-align: center;
    font-size: 13px;
    width: 90px;
}

.btn:hover {
    background-color: var(--button-hover);
}